[Unit]
Description=imp-server
After=network.target
[Service]
Type=simple
Environment=INOHOME=/usr/local/imp/
ExecStart=/usr/local/imp/bin/imp-server
ExecStop=
Restart=always
KillMode=process
[Install]
WantedBy=multi-user.target
